<div class="content">
    <div class="header">
        
        <h3> Alunos </h3>
        <div>
            <span>GymName > Students</span>
        </div>
    </div>

    <div class="info-cards">
        <app-info-card 
            text="Novos alunos"
            icon="bi bi-person-fill-up"
            color="blue"
            value="3,230.00"/>
    
            <app-info-card 
            text="Novos alunos"
            icon="bi bi-person-fill-up"
            color="blue"
            value="3,230.00"/>
    
            <app-info-card 
            text="Novos alunos"
            icon="bi bi-person-fill-up"
            color="blue"
            value="3,230.00"/>

            <app-info-card 
            text="Novos alunos"
            icon="bi bi-person-fill-up"
            color="blue"
            value="3,230.00"/>
    </div>

    <div class="filters">
        
        <div class="input">
        <app-primary-input
        inputName="search"
        icon="bi bi-search"
        placeholder="Digite o nome de um usuário"/>
        </div>
        

        <div class="buttons">
            <button class="all">Todos</button>
            <button class="active">Ativos</button>
            <button class="inactive">Inativos</button>
        </div>
    </div>
    <div class="board">
        <table width="100%">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Plano</td>
                    <td>Status</td>
                    <td>Data exp</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="people">
                        <img src="/assets/imgs/user-img.png" alt="">
                        <div class="people-desc">
                            <h5>Name</h5>
                            <p>email.email.com</p>
                        </div>
                    </td>

                    <td class="plan">
                        <h5>Plan Name</h5>
                    </td>

                    <td class="status active">
                        <p>PlanStatus</p>
                    </td>

                    <td class="expired-date">
                        <p>10/10/2023</p>
                    </td>

                    <td class="edit">
                        <button>Editar <i class="bi bi-pencil-fill"></i> </button>
                    </td>
                </tr>
                <tr>
                    <td class="people">
                        <img src="/assets/imgs/user-img.png" alt="">
                        <div class="people-desc">
                            <h5>Name</h5>
                            <p>email.email.com</p>
                        </div>
                    </td>

                    <td class="plan">
                        <h5>Plan Name</h5>
                    </td>

                    <td class="status active">
                        <p>PlanStatus</p>
                    </td>

                    <td class="expired-date">
                        <p>10/10/2023</p>
                    </td>

                    <td class="edit">
                        <button>Editar <i class="bi bi-pencil-fill"></i> </button>
                    </td>
                </tr>
                <tr>
                    <td class="people">
                        <img src="/assets/imgs/user-img.png" alt="">
                        <div class="people-desc">
                            <h5>Name</h5>
                            <p>email.email.com</p>
                        </div>
                    </td>

                    <td class="plan">
                        <h5>Plan Name</h5>
                    </td>

                    <td class="status active">
                        <p>PlanStatus</p>
                    </td>

                    <td class="expired-date">
                        <p>10/10/2023</p>
                    </td>

                    <td class="edit">
                        <button>Editar <i class="bi bi-pencil-fill"></i> </button>
                    </td>
                </tr>
                <tr>
                    <td class="people">
                        <img src="/assets/imgs/user-img.png" alt="">
                        <div class="people-desc">
                            <h5>Name</h5>
                            <p>email.email.com</p>
                        </div>
                    </td>

                    <td class="plan">
                        <h5>Plan Name</h5>
                    </td>

                    <td class="status active">
                        <p>PlanStatus</p>
                    </td>

                    <td class="expired-date">
                        <p>10/10/2023</p>
                    </td>

                    <td class="edit">
                        <button>Editar <i class="bi bi-pencil-fill"></i> </button>
                    </td>
                </tr>
                <tr>
                    <td class="people">
                        <img src="/assets/imgs/user-img.png" alt="">
                        <div class="people-desc">
                            <h5>Name</h5>
                            <p>email.email.com</p>
                        </div>
                    </td>

                    <td class="plan">
                        <h5>Plan Name</h5>
                    </td>

                    <td class="status active">
                        <p>PlanStatus</p>
                    </td>

                    <td class="expired-date">
                        <p>10/10/2023</p>
                    </td>

                    <td class="edit">
                        <button>Editar <i class="bi bi-pencil-fill"></i> </button>
                    </td>
                </tr>
                <tr>
                    <td class="people">
                        <img src="/assets/imgs/user-img.png" alt="">
                        <div class="people-desc">
                            <h5>Name</h5>
                            <p>email.email.com</p>
                        </div>
                    </td>

                    <td class="plan">
                        <h5>Plan Name</h5>
                    </td>

                    <td class="status active">
                        <p>PlanStatus</p>
                    </td>

                    <td class="expired-date">
                        <p>10/10/2023</p>
                    </td>

                    <td class="edit">
                        <button>Editar <i class="bi bi-pencil-fill"></i> </button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <span>1</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
    </div>
    
</div>
