@if (this.loadingService.loading$ | async) {
    
    <div class="spinner-container">
        <div class="spinner"></div>
        <div class="loader">
          <p>loading</p>
          <div class="words">
            <span class="word">Planos</span>
            <span class="word">Funcionários</span>
            <span class="word">Exercicios</span>
            <span class="word">Academias</span>
            <span class="word">Alunos</span>                       
          </div>
        </div>
    </div>
    
}
